/* CUSTOM PROPERTY */
:root{
  --button-bg:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --primary-color:#30C88F;
  --bg-color: #2D314D;
  --text-color: #9597A5;
}
/* FONTS */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/public-sans-v11-latin-100.woff2') format('woff2'),
       url('../fonts/public-sans-v11-latin-100.woff') format('woff');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/public-sans-v11-latin-500.woff2') format('woff2'),
       url('../fonts/public-sans-v11-latin-500.woff') format('woff');
}
/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans',"Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  background-color: #fff;
  color: var(--text-color);
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.button{
  display: inline-block;
  padding: 8px 34px;
  font-size: 14px;
  color: #fff;
  background-color: var(--primary-color);
  background-image: var(--button-bg);
  border-radius: 22px;
  white-space: nowrap;
  text-decoration: none;
  transition: opacity 0.4s ease;
  text-transform: capitalize;
}
.button:hover{
  opacity: 0.6;
}
.button:active{
  opacity: 0.4;
}

/* CONTAINER  */
.container{
  width: 100%;
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 4px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-logo-link {
  display: flex;
  transition: opacity 0.4s ease;
}
.header-logo-link:hover{
  opacity: 0.8;
}
.header-logo-link:active{
  opacity: 0.6;
}
.site-logo {
  flex-shrink: 0;
  width: 140px;
  height: 20px;
}
.sitenav-list {
  display: flex;
}
.sitenav-item:not(:last-child) {
  margin-right: 30px;
}
.sitenav-item-link {
  display: inline-block;
  padding-bottom: 28px;
  padding-top: 28px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--text-color);
  border-bottom: 4px solid #fff;
  transition: color 0.4s ease, opacity 0.4s ease, border-bottom-color 0.4s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.sitenav-item-link:hover{
  color: var(--bg-color);
  border-bottom-color: var(--primary-color);
}
.sitenav-item-link:active{
  opacity: 0.6;
}

/* HERO */
.hero {
  position: relative;
  z-index: 40;
  background-color: #fff;
  background-image:url(../imgs/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: right calc(50% - 250px) top ;
}
.hero-container{
  position: relative;
  display: flex;
  align-items: center;
}
.hero-content {
  max-width: 447px;
  width: 100%;
}
.hero-bg-img{
  position: relative;
  left: 125px;
  width: 647px;
  height: 908px;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--bg-color);
}
.hero-text {
  margin-top: 0;
  margin-bottom: 36px;
  letter-spacing: -0.28125px;
}

/* WHY-CHOOSE? */
.why-choose {
  position: relative;
  z-index: 45;
  padding-top: 96px;
  padding-bottom: 56px;
  background-color: #F4F5F7;
}
.why-choose-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--bg-color);
}
.why-choose-text {
  max-width: 635px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 72px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.why-choose-list {
  display: flex;
  flex-wrap: wrap;
}
.why-choose-item{
  max-width: 255px;
  width: 100%;
  margin-bottom: 40px;
}
.why-choose-item:not(:last-child) {
  margin-right: 30px;
}
.why-choose-img {
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
}
.why-choose-item-heading {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: -0.428571px;
  color: var(--bg-color);
}
.why-choose-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

/* ARTICLES */
.articles {
  padding-top: 80px;
  padding-bottom: 60px;
}
.articles-heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--bg-color);
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
.articles-item {
  max-width: 255px;
  width: 100%;
  margin-bottom: 20px;
}
.articles-item:not(:last-child){
  margin-right: 30px;
}
.articles-item-inner{
  padding: 24px;
}
.articles-item-img {
  width: 255px;
  height: 200px;
}
.articles-source {
  margin-bottom: 8px;
  font-size: 10px;
  letter-spacing: -0.15625px;
}
.articles-item-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
}
.articles-item-heading-link{
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.articles-item-heading-link:hover{
  color: var(--primary-color);
}
.articles-item-heading-link:active{
  opacity: 0.6;
}
.articles-item-text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
}