/* CUSTOM PROPERTY */
:root{
  --button-bg:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --primary-color:#30C88F;
  --primary-font-color: #fff;
  --bg-color: #2D314D;
  --text-color: #9597A5;
}
/* FONTS */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/public-sans-v11-latin-100.woff2') format('woff2'),
       url('../fonts/public-sans-v11-latin-100.woff') format('woff');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/public-sans-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/public-sans-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/public-sans-v11-latin-500.woff2') format('woff2'),
       url('../fonts/public-sans-v11-latin-500.woff') format('woff');
}
/* GLOBAL-STYLES */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans',"Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  background-color: #fafafa;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.button{
  position: relative;
  display: inline-block;
  padding: 8px 34px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 22px;
  color: var(--primary-font-color);
  background-color: var(--primary-font-color);
  background-image: var(--button-bg);
  white-space: nowrap;
  text-decoration: none;
  text-transform: capitalize;
}
.button:hover::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.4);
  content: " ";
}
.button:active{
  transform: translateY(2px);
}

/* CONTAINER  */
.container{
  max-width: 1158px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: var(--primary-font-color);
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo{
  margin-right: 100px;
}
.logo {
  flex-shrink: 0;
  display: inline-block;
  transition: opacity 0.4s ease;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 140px;
  height: 20px;
}

.sitenav__list {
  display: flex;
}
.sitenav__item{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}
.sitenav__item:not(:last-child) {
  margin-right: 30px;
}
.sitenav__link {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease, border-bottom-color 0.4s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.sitenav__link::after{
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 4px;
  content: " ";
  background-color: var(--primary-color);
  background-image: var(--button-bg);
}
.sitenav__link:hover{
  color: var(--bg-color);
}
.sitenav__link:hover::after{
  display: block;
}
.sitenav__link:active{
  opacity: 0.6;
}
.site-header__button{
  margin-left: 100px;
}
.toggler{
  display: none;
}
.toggler__img--open{
  min-width: 24px;
}
.toggler__img--close{
  min-width: 18px;
}
.none{
  display: none;
}


/* HERO */
.hero {
  padding-top: 170px;
  padding-bottom: 170px;
  background-image:url(../imgs/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: right calc(50% - 605px) top calc( -260px );
}
.hero__container{
  position: relative;
  display: flex;
  align-items: center;
}
.hero__content {
  max-width: 447px;
  width: 100%;
}
.hero__img{
  position: absolute;
  right: -290px;
  width: 789px;
  height: 960px;
}
.hero__img--mobile{
  width: 327px;
  height: 402px;
}
.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--bg-color);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  letter-spacing: -0.28125px;
}

/* WHY-CHOOSE? */
.why-choose {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #F4F5F7;
}
.why-choose__theme{
  max-width: 635px;
  width: 100%;
  margin-bottom: 72px;
}
.why-choose__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--bg-color);
}
.why-choose__text {
  max-width: 635px;
  width: 100%;
  margin-top: 0;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.why-choose__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -80px;
}
.why-choose__item{
  margin-bottom: 80px;
  margin-right: 30px;
}
.feature{
  max-width: 255px;
  width: 100%;
}
.feature__img {
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
}
.feature__heading {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: -0.428571px;
  color: var(--bg-color);
}
.feature__text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

/* ARTICLES */
.articles {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #fafafa;
}
.articles__heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--bg-color);
}
.articles__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.articles__item {
  margin-right: 30px;
  margin-bottom: 20px;
}
.article{
  max-width: 255px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--primary-font-color);
}
.article__inner{
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.article__img {
  display: block;
  width: 255px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.article__img--big{
  display: none;
}
.article__source {
  order: -1;
  margin-bottom: 8px;
  font-size: 10px;
  letter-spacing: -0.15625px;
}
.article__heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
}
.article__link{
  color: var(--bg-color);
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.article__link:hover{
  color: var(--primary-color);
}
.article__link:active{
  opacity: 0.6;
}
.article__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
}

/* FOOTER */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--bg-color);
}
.site-footer__container {
  display: flex;
}
.site-footer__left {
  display: flex;
  margin-right: 30px;
}
.site-footer__logo-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 130px;
}
.site-footer__logo{
  margin-bottom: 24px;
}
.social-media {
  display: flex;
}
.social-media__item:not(:last-child) {
  margin-right: 13px;
}
.social-media__link {
  display: flex;
  color: var(--primary-font-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-media__link:hover{
  color: var(--primary-color);
}
.social-media__link:active{
  opacity: 0.6;
}
.site-footer__center{
  display: flex;
  margin-right: auto;
}
.site-footer__navigation:nth-child(1){
  margin-right: 100px;
}
.navigation__item:not(:last-child) {
  margin-bottom: 8px;
}
.navigation__link {
  font-size: 15px;
  line-height: 26px;
  color: var(--primary-font-color);
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.navigation__link:hover{
  color: var(--primary-color);
}
.navigation__link:active{
  opacity: 0.6;
}
.site-footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 50px;
}
.site-footer__button {
  margin-bottom: 24px;
}
.site-footer__caution {
  font-size: 15px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}


/* RESPONSIVE */


/* SITE-HEADER */
@media only screen and (max-width: 900px){
  .site-header__container{
    justify-content: start;
  }
  .site-header__logo{
    margin-right: 30px;
  }
  .site-header__sitenav{
    margin-right: 50px;
    flex-grow: 1;
  }
  .site-header__button{
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px){
  .sitenav__item:not(:last-child){
    margin-right: 20px;
  }
}
@media only screen and (max-width: 760px){
  .site-header__container{
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .site-header__logo{
    margin-right: auto;
  }
  .site-header__sitenav{
    display:none;
  }
  .site-header__sitenav--open{
    position: absolute;
    left: 0;
    top: calc(100% + 24px) ;
    z-index: 1;
    display: block;
    width: calc( 100% - 48px);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #fff;
  }
  .sitenav__list{
    flex-direction: column;
    align-items: center;
  }
  .sitenav__item{
    padding: 0;
  }
  .sitenav__item:not(:last-child){
    margin-right: 0;
    margin-bottom: 24px;
  }
  .sitenav__link{
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-color);
  }
  .sitenav__link:hover{
    opacity: 0.8;
  }
  .sitenav__link:active{
    opacity: 0.6;
  }
  .sitenav__link:hover::after{
    display: none;
  }
  .toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .site-header__button-toggler{
    margin-left: 30px;
  }
}
@media only screen and (max-width: 550px){
  .site-header__button{
    display: none;
  }

}

/* HERO */
@media only screen and (max-width: 985px){
  .hero__content {
    max-width: 400px;
}
  .hero__heading{
    font-size: 50px;
    line-height: 58px;
  }
  .hero__text{
    font-size: 16px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 920px){
  .hero__img{
    right: -370px;
  }
}
@media only screen and (max-width: 850px){
  .hero__img{
    right: -450px;
  }
}
@media only screen and (max-width: 730px){
  .hero{
    padding-bottom: 100px;
    background-position: right calc(50% - 666px) top calc( -194px );
  }
  .hero__img{
    display: none;
  }
  .hero__img--mobile{
    position: absolute;
    right: -100px;
    top: -56px;
    display: block;
  }
}
@media only screen and (max-width: 660px){
  .hero{
    padding-bottom: 88px;
  }
  .hero__content{
    max-width: 300px;
  }
  .hero__heading{
    font-size: 40px;
    line-height: 47px;
  }
  .hero__text{
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 560px){
  .hero{
    background-position: right calc(50% - 431px) top calc( -347px );
  }
  .hero__container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__img--mobile{
    position: static;
    order: -1;
    margin-bottom: 41px;
  }
  .hero__img--mobile{
    margin-top: -200px;
  }
}

/* WHY-CHOOSE? */
@media only screen and (max-width: 870px){
  .why-choose{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .why-choose__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-choose__theme{
    text-align: center;
    margin-bottom: 56px;
  }
  .why-choose__list{
    justify-content: center;
  }
  .feature__img{
    margin-bottom: 30px;
  }

}
@media only screen and (max-width: 660px){

  .why-choose__heading{
    font-size: 32px;
    line-height: 38px;
  }
  .why-choose__text{
    font-size: 15px;
    line-height: 25px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .feature__text{
    text-align: center;
  }
  .feature__heading{
    margin-bottom: 16px;
    font-size: 20px;
  }
  .feature__text{
    font-size: 15px;
    line-height: 25px;
  }
  .feature__img{
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 590px){
  .why-choose{
    padding-top: 64px;
    padding-bottom: 124px;
  }
  .why-choose__list{
    margin-right: 0;
  }
  .why-choose__item{
    margin-bottom: 40px;
    margin-right: 0;
  }
}

/* ARTICLES */
@media only screen and (max-width: 870px){
  .articles__heading{
    text-align: center;
  }
  .articles__list{
    justify-content: center;
  }
  .article{
    max-width: 327px;
  }
  .article__img{
    display: none;
  }
  .article__img--big{
    display: block;
    width: 327px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
  }
  .article__inner{
    padding: 24px 31px 24px 31px;
  }
}
@media only screen and (max-width: 660px){
  .articles{
    padding-top: 80px;
    padding-bottom: 56px;
  }
  .articles__heading{
    margin-bottom: 31px;
    font-size: 32px;
    line-height: 38px;
  }
  .articles__item{
    margin-bottom: 24px;
  }
}

/* FOOTER */
@media only screen and (max-width: 900px){
  .site-footer__logo-media{
    margin-right: 80px;
  }
  .site-footer__navigation:nth-child(1) {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 810px){
  .site-footer__logo-media{
    justify-content: start;
  }
  .site-footer__right{
    justify-content: start;
  }
  .site-footer__center{
    flex-grow: 1;
    flex-direction: column;
    margin-right: 0;
  }
  .site-footer__navigation:nth-child(1) {
    margin-right: 0;
  }
  .site-footer__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 660px){
  .site-footer__logo-media{
    margin-right: 40px;
  }
  .site-footer__right{
    margin-left: 30px;
  }
}
@media only screen and (max-width: 600px){
  .site-footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .site-footer__container{
    flex-direction: column;
    align-items: center;
  }
  .site-footer__logo-media{
    margin-right: 0;
    margin-bottom: 32px;
  }
  .site-footer__center{
    margin-bottom: 32px;
  }
  .site-footer__right{
    align-items: center;
    margin-left: 0;
  }
}